fail_fast: false

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: check-toml
    - id: check-yaml
    - id: trailing-whitespace
    - id: end-of-file-fixer

- repo: https://github.com/psf/black
  rev: 23.10.1
  hooks:
    - id: black
      args: [--config, "./pyproject.toml"]

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
    - id: isort
      args: [--settings-path, "./pyproject.toml"]
